.addNote {
    width: 30%;
    margin: 50px auto;
}

.notes-home {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    margin-right: auto;
}

@media (max-width:500px) {
    .notes-home {
        width: 95%;
    }
}

.plus {
    display: block;
    margin: 70px auto;
    width: 50%;
    max-width: 50px;
}

.plus:hover {
    background-color: #0000ff;
}

.prevNotes {
    width: 95%;
    padding: 10px;
    margin: 5px auto;
}

.prevNotes a {
    text-decoration: none;
    color: inherit;
}

.prevnote {
    position: relative;
    width: 95%;
    margin: 10px auto;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgb(180, 180, 180);
}

.prevnote:hover {
    width: 96%;
    border: 1.5px solid var(--Blue);
}

.prevnote h4 {
    margin: 7px;
    margin-left: 0;
}

.prevnote p {
    font-size: small;
    color: gray;
}