.header {
    min-height: 74vh;
    width: 100%;
    background-image: url(../images/headerbroad.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;   
}

@media (max-width:800px) {
    .header {
        background-image: url(../images/header800.svg);
    }
}

@media (max-width:550px) {
    .header {
        background-image: url(../images/header550.svg);
    }
}

@media (max-width:500px) {
    .header {
        min-height: 67vh;
    }
}

@media (max-width:400px) {
    .header {
        min-height: 55vh;
    }
}

.header h1 {
    text-align: center;
    color: white;
}

.header-content {
    width: 95%;
    max-width: 600px;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width:800px){
    .header-content {
        top: 35%
    }
}

@media (max-width:400px){
    .header-content {
        top: 33%
    }
}

.header-content h1 {
    font-size: 35px;
    margin: 15px;
}

.header-content p {
    margin: 10px;
    text-align: center;
    color: #FFF;
}

.l-about-box {
    width: 40%;
    margin: auto;
    padding: 15px;
    align-self: flex-start;
}

@media(max-width:600px) {
    .l-about-box {
        width: 95%;
        padding: 15px 55px;
    }
}

.landing-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
}

.landing-about h3 {
    text-align: center;
}

.landing-buttons {
    width: 10%;
    min-width: 150px;
    margin: 0 auto;
}

.landing-buttons button {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: var(--EerieBlack);
    color: #FFF;
}

.landing-buttons button a{
    color: #FFF;
    font-size: 1.2em;
}

.lb:hover {
    background-color: var(--White);
    color: var(--EerieBlack);
}

.taking-notes {
    width: 40%;
    margin: auto;
    padding: 2%;
    text-align: center;
}

#taking-notes-img {
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    align-self: center;
}

@media(max-width:600px) {
    .taking-notes {
        width: 80%;
        height: 60%;
    }

    .taking-notes-img {
        width: 95%;
        margin-top: 0;
    }
}