<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="../static/main.css">
    <title> {{title}} </title>
</head>
<body>
    <nav>
        <!-- List of nav links -->
        <ul>
            <li> 
                <a class="navbarLink" 
                href="{{ url_for('landing') }}">
                    NOTES
                </a>
            </li>
            {% if current_user.is_authenticated %}
            <li style="float: right;"> 
                <a class="navbarLink" href="{{ url_for('logout') }}">
                    Logout
                </a> 
            </li>
            {% else %}
            <li> 
                <a class="navbarLink" 
                href="{{ url_for('login') }}">
                    LogIn
                </a>
            </li>
            <li> 
                <a class="navbarLink" 
                href="{{ url_for('register') }}">
                    Register
                </a>
            </li>
            {% endif %}
            <li style="float: right;"> 
                <a class="navbarLink" href="#">
                    About
                </a> 
            </li>
        </ul>
    </nav>

    <br><br>

    <div class="flashed-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert={{ category }}" >
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% block content %}
    {% endblock %}
    
</body>
</html>