{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>

    <div class="addNote">
        <button> <a href="{{ url_for('addnote') }}"> Add Note </a></button>
    </div>

    <div class="prevNotes">
        {% if prevnotes %}
            {% for note in prevnotes %}
                <div>
                    <h4>{{ note.title }}</h4>
                    <p> {{ note.content }} </p>
                    <p> {{ note.date_created }} </p>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}