{% extends 'base.html' %}

{% block content %}
    <div class="notes-home">
        
            <a href="{{ url_for('addnote') }}"><img class="plus" src="{{ url_for('static', filename='images/plus.svg') }}" alt=""></a></button>
        

        <div class="prevNotes">
            {% if prevnotes %}
                {% for note in prevnotes %}
                    <a href="{{ url_for('note', note_id=note.id) }}">
                        <div class="prevnote" >
                            <p> {{ note.date_created.strftime("%d %b %Y") }} </p>
                            <h4>{{ note.title }}</h4>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}