{% extends 'base.html' %}

{% block content %}
    <div class="notes-home">
        <div class="addNote">
            <a href="{{ url_for('addnote') }}"><img class="plus" src="{{ url_for('static', filename='images/plus.svg') }}" alt=""></a></button>
        </div>

        <div class="prevNotes">
            {% if prevnotes %}
                {% for note in prevnotes %}
                    <div>
                        <h4>{{ note.title }}</h4>
                        <p> {{ note.content }} </p>
                        <p> {{ note.date_created }} </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}