{% extends 'base.html' %}

{% block content %}
<div class="formwrapper">
    <div class="formcontent">
        <h2>Login</h2>
        <form method="POST">
            <div class="form-field">
                {{ form.hidden_tag() }}

                {{ form.email.label(class_='label') }}
                <br>
                {{ form.email(class_='inputField') }}
            </div>
            <div class="form-field">
                {{ form.password.label(class_='label') }}
                <br>
                {{ form.password(class_='inputField') }}
            </div>
            <div class="form-field">
                {{ form.submit(class_='submitField') }}
            </div>
        </form>
        <p class="below-form-content" >Not registered yet?
            <a href="{{ url_for('register') }}">Register</a>
        </p>
    </div>
</div>
{% endblock %}