{% extends 'base.html' %}

{% block content %}
    <div class="notes-home">
        <div class="prevNotes">                  
            <div class="prevnote" >
                <p> {{ note.date_created.strftime("%d %b %Y") }} </p>
                <h4>{{ note.title }}</h4>
                <pre> {{ note.content }} </pre>
                <br>
                <br>
                <a href="/edit/note/{{note.id}}"><button class="editButton">Edit</button></a>
                <a href="/delete/note/{{note.id}}"><button class="deleteButton">Delete</button></a>
            </div>
        </div>
    </div>
{% endblock %}