{% extends 'base.html' %}

{% block content %}
<div class="formwrapper">
    <div class="formcontent">
        <h2>Create an Account</h2>
        <form method="POST">
            <div class="form-field">
                {{ form.hidden_tag() }}

                {{ form.username.label(class_='label') }}
                <br>
                {% if form.username.errors %}
                    {{ form.username(class_='inputField invalid-input') }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class_='inputField') }}
                {% endif %}                
            </div>
            <div class="form-field">
                {{ form.email.label }}
                <br>
                {% if form.email.errors %}
                    {{ form.email(class_='inputField invalid-input') }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class_='inputField') }}
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.password.label }}
                <br>
                {% if form.password.errors %}
                    {{ form.password(class_='inputField invalid-input') }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class_='inputField') }}
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.confirm_password.label }}
                <br>
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class_='inputField invalid-input') }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class_='inputField') }}
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.submit(class_='submitField') }}
            </div>
        </form>
        <p class="below-form-content" >Already have an account?
            <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</div>
{% endblock %}