{% extends 'base.html' %}

{% block content %}
<div class="formwrapper">
    <div class="formcontent">
        <h2>Create an Account</h2>
        <form action="POST">
            <div class="form-field">
                {{ form.name.label(class_='label') }}
                <br>
                {{ form.name(class_='inputField') }}
            </div>
            <div class="form-field">
                {{ form.email.label }}
                <br>
                {{ form.email(class_='inputField') }}
            </div>
            <div class="form-field">
                {{ form.new_password.label }}
                <br>
                {{ form.new_password(class_='inputField') }}
            </div>
            <div class="form-field">
                {{ form.confirm_password.label }}
                <br>
                {{ form.confirm_password(class_='inputField') }}
            </div>
            <div class="form-field">
                {{ form.submit }}
            </div>
        </form>
    </div>
</div>
{% endblock %}