
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

    font-family: Arial, Helvetica, sans-serif;

    --Blue: #0000ff;
    
    --EerieBlack: #1D201F;
    --White: #FFF;
}

.alert-success {
    background-color: lightgreen;
    color: green;
}

.alert-danger {
    background-color: rgb(255, 111, 111);
    color: red;
}

button a {
    text-decoration: none;
}

.flashed-messages {
    border: 1px solid black;
}

.formcontent {
    padding: 12px;
}

.formcontent h2 {
    text-align: center;
}

.form-field {
    width: 90%;
    margin: 12px auto;
}

.formwrapper {
    width: 100%;
    max-width: 450px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;

}

.header {
    min-height: 90vh;
    width: 100%;
    background-image: url(./headerbroad.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;   
}

@media (max-width:800px) {
    .header {
        background-image: url(./header800.svg);
    }
}

@media (max-width:550px) {
    .header {
        background-image: url(./header550.svg);
    }
}

.header h1 {
    text-align: center;
    color: white;
}

.header-content {
    width: 95%;
    max-width: 600px;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width:800px){
    .header-content {
        top: 35%
    }
}

@media (max-width:400px){
    .header-content {
        top: 33%
    }
}

.header-content h1 {
    font-size: 35px;
    margin: 15px;
}

.header-content p {
    margin: 10px;
    text-align: center;
    color: #FFF;
}

.inputField {
   width: 100%;
   height: 40px;
   margin: 10px 0;
   padding: 8px 4px;
   border: 1px solid rgb(170, 170, 170);
   border-radius: 5px;
}

.invalid-feedback {
    color: red;
    font-size: 0.75em;
}

.invalid-input {
    border: 1px solid red;
}

.l-about-box {
    width: 40%;
}

.landing-about {
    display: flex;
    flex-wrap: wrap;
}

.landing-about h3 {
    text-align: center;
}

.landing-buttons {
    width: 10%;
    min-width: 150px;
    margin: 0 auto;
}

.landing-buttons button {
    width: 150px;
    height: 40px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: var(--EerieBlack);
    color: #FFF;
}

.landing-buttons button a{
    color: #FFF;
}

li {
    float: left;
}


.navbarLink {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
}

.navbarLink:hover {
    background-color: darkblue;
}

#taking-notes-img {
    width: 35%;
    height: auto;

}

ul {
    
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: blue;
}