
.alert-success {
    background-color: lightgreen;
    color: green;
}

.alert-danger {
    background-color: rgb(255, 111, 111);
    color: red;
}

button a {
    text-decoration: none;
}

.flashed-messages {
    border: 1px solid black;
}

.formcontent {
    padding: 12px;
}

.formcontent h2 {
    text-align: center;
}

.form-field {
    width: 90%;
    margin: 12px auto;
}

.formwrapper {
    width: 100%;
    max-width: 450px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;

}

.inputField {
   width: 100%;
   height: 40px;
   margin: 10spx 0;
   padding: 8px 4px;
   border: 1px solid rgb(170, 170, 170);
   border-radius: 5px;
}

.invalid-feedback {
    color: red;
    font-size: 0.75em;
}

.invalid-input {
    border: 1px solid red;
}



li {
    float: left;
}


.navbarLink {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
}

.navbarLink:hover {
    background-color: darkblue;
}

ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    
    background-color: blue;
}